*{
	margin:0px;
	padding:0px;
}
body{
	position: relative;
}
.message{
	width:86%;
	text-align: center;
	color:#e9e9e9;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background:#00062b;
	border:1px solid black;
	animation:message-box 0.3s;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
	animation-timing-function:ease-out;
	/* Safari 和 Chrome */
	-webkit-animation:message-box 0.3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-timing-function:ease-out;
}
@-webkit-keyframes message-box{
	from{height:0;}
	to{height:30px;}
}
@keyframes message-box{
	from{height:0;}
	to{height:30px;}
	}
}

.head .guidediv a{
	color:#b8b6b4;
}
.head .guidediv a:visited{
	color:#b8b6b4;
}
.head .guidediv a:hover{
	color:#f4f4f4;
}
.head #mainicon{
	left:13%;
 	float:left;
	top:40px;
	position:relative;
}
.head .title {
	font-family: "STSong";
	color: #acb0af;
	position: relative;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
	font-size: 36px;
	height: 40px;
	width: 30%;
}
.head {
	height: 140px;
	width: 100%;
	background-color: #171a21;
	text-align: center;
}
.wrap {
	height: 900px;
	width: 100%;
	position: relative;
	background-color: #1b2838;
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
}
.foot {
	width: 100%;
	height: 100px;
	bottom:0;	
	background-color: #060d1e;
	position: absolute;
	display:block;
}
.wrap .login_frame {
	box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.9);/*黑色阴影，用rgba表示，透明度为0.9*/ 
	border-radius: 6px;
	width: 300px;  
	right:15%;
	top:20%;
	position: absolute;
	background-color: #FFFFFF;
}
.wrap .login_frame .login_tip{
	margin:10px auto;
	display: block;
	font-family: STSong;
	font-size: 36px;
	height: 40px;
	width: 100%;
	text-align: center;

}
.wrap .login_frame input{
	margin: 18px auto;
	width: 86%;
	font-size:14px;
	padding: 10px;
	border: #0095ee solid 1px;
	border-radius: 6px;
	display: block;
}
.login_frame button{
	margin:20px auto;
	width:86%;
	padding: 10px;
	display: block;
	border-radius: 6px;	
	background-color: rgb(68, 194, 194);
}
.login_frame a{
	text-decoration: none;
	display: block;
	margin-bottom:60px;
	margin-top:20px;
	margin-right:10px;
}
.wrap .content{
	box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.9);/*黑色阴影，用rgba表示，透明度为0.9*/ 
	position: relative;
	float: left;
	width: 40%;
	height:60%;
	top:10%;
	left:10%;
	border-radius: 6px;
	color:turquoise;
	font-size: 66px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:rgb(80, 90, 117);

}
