.arrow.left {
    left: 0px;
    background: -webkit-linear-gradient( left, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}
.arrow.right {
    right: 0px;
    background: -webkit-linear-gradient( left, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
}
.arrow.left > div {
    background-position-x: 23px;
}
.arrow > div {
    background-image: url(../assets/arrows.png);
    width: 23px;
    height: 36px;
}
.arrow {
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top: 35%;
    width: 23px;
    height: 36px;
    padding: 36px 11px;
    cursor: pointer;
    z-index: 3;
}
.arrow:hover{
   background-color:rgba(0.8,0.8,0.8,0.3);
}
